<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Художники</title>
</head>
<body>
    <table>
        <thead>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Об художнике</th>
        <th>Страна</th>
        <th>Дата рождения</th>
        <th>Дата смерти</th>
        </thead>
        <tbody>
        {% for artist in artists %}
        <tr>
            <td>{{ artist.first_name }}</td>
            <td>{{ artist.last_name }}</td>
            <td>{{ artist.about }}</td>
            <td>{{ artist.country.name }}</td>
            <td>{{ artist.date_of_birth }}</td>
            <td>{{ artist.date_of_death }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>