<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
</head>
<body>
    <table>
        <thead>
        <th>ФИО сотрудника</th>
        <th>Телефон</th>
        <th>Позиция</th>
        <th>Отдел</th>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.telephone }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.department }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>